.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    box-sizing: border-box;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .buttons {
      background-color: skyblue;
      color: white;
      margin: 24px;
      font-size: 2rem;
      width: 85px;
      height: 85px;
      padding: 1.2rem;
      border-radius: 50%;
  }

  .operator-container {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
  }

  .merged-container {
    padding-left: 10px;
      display: flex;
      flex-wrap: wrap;
  }

  .complete-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .special-container {
      max-width: 98%;
  }

  .numbers-container {
    max-width: 98%;
}

  .logo {
      margin-left: 40px;
      margin-top: 40px;;
  }

  .display {
      margin-left: 25px;
  }

  .flex-column {
      display: flex;
      flex-direction: column;
  }